.wrapper {
    max-width: calc(100% - 350px);
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: rgb(235, 160, 80);
    font-weight: 700;
    font-size: 33px;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.productItem{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #696969;
    margin: 1em;
    padding: 1em 1em 3em 1em;
    border-radius: 15px;
    color: rgb(48, 53, 53);
    word-break: break-all;
    background-color: #fff;
}
.productItem img {
    max-width: 100%;
}

.productItemButton {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.productItemButton button {
    margin: 15px 0 0 5px;
    padding: 5px 25px;
    border: none;
    background-color: rgb(255, 151, 26);
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 730px) {
    .wrapper {
        max-width: 100%;
    }
  }
  