.wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    min-height: 50px;
    min-width: 50px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.wrapper span {
    width: 100%;
    font-size: 25px;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 89, 57);
    border-bottom: 1px solid silver;
    padding: 1em;
    animation: item 0.5s linear forwards;
    border-radius: 15px;
}

.item h5, h1 {
    color: aliceblue;
}
.item img {
    max-width: 100px;
    margin-right: 1em;
}

.amountWrapper {
    width: 36px;
    position: absolute;
    bottom: 9px;
    right: 0;
}
.amount {
    position: absolute;
    left: 11px;
    top: 2px;
    color: red;
    font-weight: bold;
}

.cartEmpty{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    font-size: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(56, 28, 17);

}

.wrapperBC{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navHeader {
    padding: 1em 3em;
    background-color: rgb(162, 89, 57);
    color: aliceblue;
    margin: 5px;
    font-size: 19px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid silver;
}

.navActive {
    background-color: rgb(199, 72, 17);
}

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    background-color: #fff;
    border-radius: 3px;
    margin: 1em;
    border: silver 1px solid;
    box-sizing: border-box;
    overflow: hidden;
}    
.boxBasket {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxContent{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxContent textarea {
    width: 90%;
    min-height: 100px;
    border: 1px solid silver;
    margin-top: 1em;
}
.boxInfoTitle {
    width: 100%;
    background-color: rgb(162, 89, 57);
    color: aliceblue;
    text-align: left;
    padding: 1em 5px;
}

.infoPhone{
    border: none;
    border-bottom: 1px solid silver;
}
.bayBasket {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-height: 300%;
    background-color: rgb(245, 240, 240);
    border-radius: 15px;
    padding: 1em;
}

.ready{
    position: relative;
    top: 20vh;
    left: 0;
    max-width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(90, 73, 73, 0.781);
    color: #fff;
    border-radius: 25px;
    animation: ready 0.7s forwards;  
}

.boxReady{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

@keyframes ready {
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1)
    }
}
@keyframes item {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media screen and (max-width: 750px) {
    .infoBox {
        max-width: 100%;
    }
    .navHeader{
        margin: 5%;
        padding: 5%;
        max-width: 100%;
    }

    .bayBasket {
        width: 100%;
    }
    .ready {
        width: 100%;
        height: 100%;
        font-size: 19px;
    }
}