.wrapper {
    position: sticky;
    bottom: 3em;
    right: 3em;
    max-width: 300px;
    padding: 1em;
    background-color: rgb(162, 89, 57);
    max-height: 190px;
    overflow: auto;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper span {
    width: 100%;
    font-size: 25px;
}

.item {
    border-bottom: 1px solid silver;
    padding: 1em;
}

@media screen and (max-width: 750px) {
    .wrapper {
        position: static;
        max-width: 100%;
    }
}