
.wrapper {
    max-width: 300px;
    margin: 0 1em;
    color: rgb(45, 52, 58);
}
.wrapper div {
    margin: 1em 0 ;
}

.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid slategrey;
    border-radius: 15px;
    background-color: #fff;
}
.filters h3 {
    border-bottom: 1px solid rgb(83, 75, 75);
}

.filters button {
    padding: 3px 10px;
    border: #696969 1px solid;
    color: #696969;
    cursor: pointer;
    margin: 5px;
}

.boxItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.boxItems span {
    box-sizing: border-box;
    margin-left: -15px;
}

.itemPay{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 5px;
    border: 1px solid slategrey;
    border-radius: 15px;
    background-color: #fff;
}

.itemPay h5 {
    border-bottom: 1px solid rgb(83, 75, 75);
}

.itemPay img{
    max-width: 100%;
}

.feedback {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.feedback h5 {
    padding: 5px 0;
}

