html {
  background-color: rgb(250, 247, 245);
  max-width: 2500px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapperMain {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 730px) {
  .wrapperMain {
    flex-direction: column;
    align-items: center;
  }
}
